<ActionBar>
  <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
  <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
  </ActionItem>
  <Label text="Search"></Label>
</ActionBar>
<StackLayout>
  <Button text="Tocar!" (tap)="activityIndicator.busy = !activityIndicator.busy" class="btn btn-primary btn-active">
  </Button>
  <ActivityIndicator #activityIndicator busy="true" (busyChange)="cambio($event)" width="100" height="100"
    class="activity-indicator">
  </ActivityIndicator>
</StackLayout>